<font size="6"> Introduction </font>  

<font size="4" style="color:blue;">Draft Picks as of August 24, 2024 </font>

<p>Here it is guys! The complete draft order for the upcoming 2024 draft. Picks will be updated as they change. Below are your available picks for 2025</p>

In [1]:
import pandas as pd

In [2]:
vc2024 = pd.read_csv('/Users/blairjdaniel/VENV/Vancity/DF/2024_actual.csv').style.set_properties(**{'text-align': 'left'})
vc2024

In [3]:
vc2025 = pd.read_csv('/Users/blairjdaniel/VENV/Vancity/DF/2025.csv').style.set_properties(**{'text-align': 'left'})
vc2025

In [4]:
!pip install dataframe_image

Requirement already satisfied: dataframe_image in /opt/anaconda3/lib/python3.9/site-packages (0.2.4)
Requirement already satisfied: pandas>=0.24 in /opt/anaconda3/lib/python3.9/site-packages (from dataframe_image) (1.4.4)
Requirement already satisfied: nbconvert>=5 in /opt/anaconda3/lib/python3.9/site-packages (from dataframe_image) (6.4.4)
Requirement already satisfied: aiohttp in /opt/anaconda3/lib/python3.9/site-packages (from dataframe_image) (3.10.5)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.9/site-packages (from dataframe_image) (2.28.1)
Requirement already satisfied: pillow in /opt/anaconda3/lib/python3.9/site-packages (from dataframe_image) (9.2.0)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.9/site-packages (from dataframe_image) (21.3)
Requirement already satisfied: mistune in /opt/anaconda3/lib/python3.9/site-packages (from dataframe_image) (0.8.4)
Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.9/site-packages (from dataframe_image) (4.9.1)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.9/site-packages (from dataframe_image) (4.11.1)
Requirement already satisfied: cssutils in /opt/anaconda3/lib/python3.9/site-packages (from dataframe_image) (2.11.1)
Requirement already satisfied: html2image in /opt/anaconda3/lib/python3.9/site-packages (from dataframe_image) (2.0.5)
Requirement already satisfied: cssselect in /opt/anaconda3/lib/python3.9/site-packages (from dataframe_image) (1.1.0)
Requirement already satisfied: jinja2>=2.4 in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (2.11.3)
Requirement already satisfied: pygments>=2.4.1 in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (2.11.2)
Requirement already satisfied: jupyterlab-pygments in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (0.1.2)
Requirement already satisfied: traitlets>=5.0 in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (5.1.1)
Requirement already satisfied: jupyter-core in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (4.11.1)
Requirement already satisfied: nbformat>=4.4 in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (5.5.0)
Requirement already satisfied: entrypoints>=0.2.2 in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (0.4)
Requirement already satisfied: bleach in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (4.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (1.5.0)
Requirement already satisfied: testpath in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (0.6.0)
Requirement already satisfied: defusedxml in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (0.7.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->dataframe_image) (0.5.13)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24->dataframe_image) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24->dataframe_image) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24->dataframe_image) (1.21.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->dataframe_image) (2.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->dataframe_image) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->dataframe_image) (21.4.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->dataframe_image) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->dataframe_image) (6.1.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->dataframe_image) (1.11.1)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->dataframe_image) (4.0.3)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4->dataframe_image) (2.3.1)
Requirement already satisfied: more-itertools in /opt/anaconda3/lib/python3.9/site-packages (from cssutils->dataframe_image) (10.5.0)
Requirement already satisfied: websocket-client==1.* in /opt/anaconda3/lib/python3.9/site-packages (from html2image->dataframe_image) (1.8.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging->dataframe_image) (3.0.9)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda3/lib/python3.9/site-packages (from requests->dataframe_image) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests->dataframe_image) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests->dataframe_image) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests->dataframe_image) (2022.9.24)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/lib/python3.9/site-packages (from jinja2>=2.4->nbconvert>=5->dataframe_image) (2.0.1)
Requirement already satisfied: typing-extensions>=4.1.0 in /opt/anaconda3/lib/python3.9/site-packages (from multidict<7.0,>=4.5->aiohttp->dataframe_image) (4.3.0)
Requirement already satisfied: jupyter-client>=6.1.5 in /opt/anaconda3/lib/python3.9/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert>=5->dataframe_image) (7.3.4)
Requirement already satisfied: nest-asyncio in /opt/anaconda3/lib/python3.9/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert>=5->dataframe_image) (1.5.5)
Requirement already satisfied: fastjsonschema in /opt/anaconda3/lib/python3.9/site-packages (from nbformat>=4.4->nbconvert>=5->dataframe_image) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in /opt/anaconda3/lib/python3.9/site-packages (from nbformat>=4.4->nbconvert>=5->dataframe_image) (4.16.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24->dataframe_image) (1.16.0)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert>=5->dataframe_image) (0.5.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=2.6->nbformat>=4.4->nbconvert>=5->dataframe_image) (0.18.0)
Requirement already satisfied: pyzmq>=23.0 in /opt/anaconda3/lib/python3.9/site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert>=5->dataframe_image) (23.2.0)
Requirement already satisfied: tornado>=6.0 in /opt/anaconda3/lib/python3.9/site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert>=5->dataframe_image) (6.1)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [5]:
import dataframe_image as dfi

# vc2024 is your DataFrame
dfi.export(vc2024, 'vc2024_image.png')

In [6]:
import dataframe_image as dfi

# vc2024 is your DataFrame
dfi.export(vc2025, 'vc2025_image.png')